# must match whatever that we have in setup.py.
# pip requirements for development work.
black==24.3.0
click==8.1.3
colorama==0.4.6
flake8==6.0.0
isort==5.12.0
numpy==1.24.3
onnx==1.13.1
onnxruntime==1.15.0
pydantic==1.10.4
tf2onnx==1.13.0
tomlkit==0.11.6
torch==2.0.2

